@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* .{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
} */
/* body
{
    min-height: 100vh;
    background: #fff;
} */
.careerhead{
    text-align: center;
    font-size: xxx-large;
    color: #5d19ba;
    padding-bottom: 4rem;
    padding-top: 2rem;
    font-family: 'Arial';
}
@media(max-width:1023px)
{
    h1{
        padding-top: 6rem;
    }

}
@media(max-width:530px)
{
    .careerhead{
        font-size: xx-large;
    }
    .contentBx .label h2{
        font-size: medium;
        padding-top: 10px;
    }

}

.tableclass{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion
{
    width: 800px;
    border-radius: 100px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
    border-radius: 100px;
    
}
.accordion .contentBx .label{
    position: relative;
    /* background-color: rgb(100, 100, 100); */
    color: #0a0a0a;
    cursor: pointer;
    height: 4rem;
    border-radius: 10px 10px 0px 0px;
    border: solid #2c2c2c;
    /* border-width: 3px 3px 0px 3px; */
}
.accordion .contentBx.active .label{
    border-width: 3px 3px 0px 3px;

}
h2{
    margin-left:20px;
    font-family: arial;
}

.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx.active .label::before{
    content:'-'
}
.accordion .contentBx .content{
    position: relative;
    /* background-color: #999999; */
    height: 0;
    overflow: hidden;
    transition:all 1s;
    overflow-y: auto;
    
}
h3{
    margin-left: 50px;
    font-family: 'Inter';
 }
.accordion .contentBx.active .content{
    height: 190px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    border: #2c2c2c solid;
    border-width: 0px 3px 3px 3px;
}

button {
    font-size: 13px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #797979;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}
   
   button:active {
    transform: scale(0.95);
   }
   
   button span {
    color: #464646;
   }
   
   button .border {
    position: absolute;
    border: 0.15em solid #797979;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
   }
   
   button:hover .border {
    display: block;
    width: 10.2em;
    height: 3.7em;
   }
   
   .full-rounded {
    border-radius: 2em;
   }

   /* Navbar */

   /*  */

/* Navigation */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  position: relative;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: all ease-out 0.4s;
}

nav .nav-contact-btn a::before {
  content: none;
}

nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

nav ul li a img {
  margin: 0 auto;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  z-index: 3;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  .connect-btn{
    display: none !important;
  }
  .nav-list {
    
    padding: 1rem 2rem 1rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px #00000018;
    border-radius: 4rem;
  }
  .nav-list a{
    color: #fff;
  }
  nav {
    width: 100%;
    margin-top: 10rem;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  /* top: 22px; */
  /* cursor: pointer; */
  cursor: url('images/cursor.svg'), auto;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  /* cursor: pointer; */
  cursor: url('images/cursor.svg'), auto;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  /* padding-top: 1rem; */
  height: 70px;
  background: hsl(0, 0%, 0%);
  width: 100%;
  z-index: 4;
}

.connect-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  gap: 1rem;
  padding: 0.7rem 2rem;
  /*border: 2px solid var(--primary-color);*/
  border-radius: 4rem;
  /* font-weight: 500; */
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a,
.brand a:visited {
  color: #0e0d0d;
  text-decoration: none;
}

.logo {
  width: 3rem;
  z-index: 1;
  margin: 0.5rem 0 0 0;
}
.navigation-1 .nav-list a{
    color: #000000;
    font-family: arial;
    font-weight: 500;
  }
  