@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #803ef9;
}

header,
section:nth-child(even) {
  background: url("images/grid.svg") no-repeat center center/cover;
}

body.scroll_lock {
  overflow: hidden;
}

section {
  padding: 10rem 0;
}

section h2 {
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.primary-color {
  color: var(--primary-color);
}

/* Navigation */
nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  color: #463f3f;
  text-decoration: none;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  position: relative;
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary-color);
  transition: all ease-out 0.4s;
}

nav ul li:last-child a::before {
  content: none;
}

nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

nav ul li:last-child a {
  background: var(--primary-color);
  padding: 0.8rem 2rem;
  margin: 1.2rem 0.5rem;
  color: #fff;
  border-radius: 10rem;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(10px);
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  .nav-list {
    background-color: white;
    padding: 1rem 2rem 1rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px #00000038;
    border-radius: 4rem;
  }

  nav {
    width: 100%;
    margin-top: 10rem;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 2;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}

.logo {
  width: 4rem;
  z-index: 1;
  margin: 1rem 0 0 0;
}

/* Hero */
header {
  padding: 16rem 0 5rem;
}

.header-items {
  display: flex;
  justify-content: space-between;
}

.header-content {
  margin-top: 4rem;
  max-width: 60rem;
  width: 60%;
}

.header-content h1 {
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 1.3;
}

.header-content h1 span {
  color: var(--primary-color);
}

.header-content p {
  font-size: 2.4rem;
  margin: 2rem 0;
}

.header-img {
  text-align: right;
  width: 35%;
  transition: all 5s ease-out;
}

.header-img:hover {
  transform: scale(1.1) rotate(-5deg);
}

.header-img img {
  width: 100%;
}

.cta {
  margin-top: 2rem;
  color: white;
  background-image: linear-gradient(to right, #667eea, var(--primary-color));
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  background-size: 200% 100%;
  transition: all 0.2s ease-out;
}

.cta:hover {
  background-position: 100% 0;
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(261, 94%, 61%, 0.3);
}

.cta span {
  display: inline-block;
  min-width: 0.3em;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.cta:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}
.cta:hover:before,
.cta:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.cta:hover span,
.cta:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.cta:hover span:nth-child(1),
.cta:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.cta:hover span:nth-child(2),
.cta:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.cta:hover span:nth-child(3),
.cta:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.cta:hover span:nth-child(4),
.cta:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.cta:hover span:nth-child(5),
.cta:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.cta:hover span:nth-child(6),
.cta:focus span:nth-child(6) {
  transition-delay: 0.15s;
}

.header-form {
  margin-top: 4rem;
}

.header-form input {
  width: 50%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 4rem 0 0 4rem;
  outline: none;
}

.header-form button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 0 4rem 4rem 0;
  background-color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header-content {
    margin-top: 2rem;
  }

  .header-content h1 {
    font-size: 5rem;
  }

  .header-content p {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .header-content h1 {
    font-size: 4rem;
  }

  .header-content p {
    font-size: 1.8rem;
  }
  .header-form input {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 3.5rem;
    max-width: 50rem;
    margin: 0 auto;
  }

  .header-content p {
    font-size: 1.8rem;
  }

  .header-img {
    width: 40%;
  }
}

@media (max-width: 640px) {
  .header-items {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-content {
    width: 80%;
    text-align: center;
  }

  .header-form input {
    padding: 0.8rem 1.5rem;
  }

  .header-form button {
    padding: 0.8rem 1.5rem;
  }

  .header-img {
    display: none;
  }
}

/* Clients */
.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 4rem;
  column-gap: 6rem;
  justify-content: space-evenly;
}

.client img {
  max-width: 20rem;
  max-height: 6rem;
}

@media only screen and (max-width: 991px) {
  .client img {
    max-width: 15rem;
    max-height: 4rem;
  }
}

@media only screen and (max-width: 640px) {
  .client img {
    max-width: 10rem;
    max-height: 3rem;
  }
}

/* Services */
.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 8rem;
}

.services-item {
  display: flex;
  gap: 2rem;
}

.services-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.service-icon {
  margin-top: 1rem;
  height: 5rem;
}

.services-item h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.services-item p {
  font-size: 1.6rem;
  line-height: 1.8;
}

@media only screen and (max-width: 640px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

/*  */
/* Projects */

#projects-carousel {
  position: relative;
}

.carousel-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  transform: scale(0.95);
  transition: all 0.3s ease-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4rem;
  z-index: 1;
}

.carousel-button-prev {
  left: 0;
}

.carousel-button-next {
  right: 0;
}

.carousel-item img {
  height: 30vw;
  margin: 0 auto 2rem;
  max-width: 100rem;
  max-height: 40rem;
  transition: all 0.3s ease-out;
}

.carousel-item img:hover {
  transform: scale(1.01);
}

.carousel-item h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem;
}

.carousel-details {
  text-align: center;
}

.project-link {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
}

@media (max-width: 578px) {
  .carousel-item img {
    max-height: 30rem;
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .carousel-button {
    width: 4vw;
    height: 4vw;
    top: 20rem;
  }
}

/*  */

/* Testimonials */

#testimonials {
  position: relative;
  overflow: hidden;
}

#carousel {
  position: relative;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

#carousel-wrapper {
  position: relative;
  max-width: 70%;
}

.client-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-out;
}

.client-img-wrapper {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
}

.client-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0 0;
}

.client-subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 1rem;
}

.client-text {
  margin: 1rem 0;
  max-width: 50rem;
  text-align: center;
}

.logoRotate-wrapper {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}

.logoRotate {
  position: absolute;
  top: 15%;
  right: -50%;
  width: 100%;
  height: 100%;
  animation: logoRotate 5s cubic-bezier(0.9, 0.2, 0.1, 0.8) infinite;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    filter: blur(0);
  }
  50% {
    filter: blur(1px);
  }
  70% {
    filter: blur(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}

/*  */

/* Contact */
.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-body img {
  max-height: 30rem;
  margin-bottom: 5rem;
}

.contact-info a:hover {
  color: var(--primary-color);
}

.contact-form {
  width: 70%;
  max-width: 70rem;
}

.contact-form form {
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 1rem 1rem 0;
}

.contact-form input {
  padding: 1rem 0;
  border: none;
  border-radius: 1rem;
}

.msg {
  margin-top: 1rem;
}

.contact-form form textarea {
  border: none;
  border-radius: 1rem;
  margin: 1rem 0;
  width: 100%;
  height: 12rem;
  resize: none;
}

.contact-form input:active,
.contact-form input:focus,
.contact-form textarea:active,
.contact-form textarea:focus {
  outline: none;
}

.contact-form form button {
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  background-color: #f5f5f5;
  cursor: pointer;
}

.contact-form form button:hover,
.contact-form form button:active {
  background-color: var(--primary-color);
  color: white;
}

.contact-form form button:active {
  transform: translateY(2px);
}

.contact-form form button:focus {
  border: none;
}

.contact-mediums {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.phone a {
  color: var(--primary-color);
}

.social {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.social img {
  width: 3.5rem;
  color: #000;
}

@media (max-width: 992px) {
  .contact-form {
    width: 100%;
    margin: 0 auto 5rem;
  }
}

/* [ WELCOME PAGE ] */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.welcome-container hr {
  width: 100%;
  max-width: 15vw;
  margin: 2rem 0;
  background-color: var(--primary-color);
  height: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.welcome-container header {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: space-between;
  padding: 5vh 0;
}

.welcome-container h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.astro-laptop {
  width: 25vw;
  height: 25vw;
}

.add-symbols {
  font-weight: 600;
  margin-top: 5vh;
  font-size: 3rem;
}

.welcome-contact-btn {
  margin: 4rem 0;
  background: var(--primary-color);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  color: white;
}

.contact-row {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.contact-row img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .welcome-container header {
    width: 70vw;
  }

  .astro-laptop {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 576px) {
  .welcome-container header {
    justify-content: center;
  }

  .astro-laptop {
    display: none;
  }
}

/* Cursor effects */
.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
}
.cursor .cursor--text {
  --cursor-size: fit-content;
  font-size: 0.75rem;
  color: #fff;
  opacity: 0;
}
.cursor .cursor--text .text {
  font-family: sans-serif;
  font-weight: bold;
}
.cursor .cursor--small {
  --cursor-size: 20px;
  background: #fff;
}
.cursor .cursor--large {
  --cursor-size: 60px;
  border: 2px solid #fff;
}

/*  */

.hover-zoom {
  transition: transform 0.3s;
}

.hover-zoom:hover {
  transform: scale(1.05);
}
